<nav class="col-md-2 d-none d-md-block bg-light sidebar">
 <div class="sidebar-sticky">
  <ul class="nav flex-column">
   <li class="nav-item">
    <a class="nav-link active" href="#">
     <span data-feather="home"></span>
     Repository Overview <span class="sr-only"></span>
    </a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="#">
     <span data-feather="file"></span>
     Statistics
    </a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="#">
     <span data-feather="shopping-cart"></span>
     Commits
    </a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="#">
     <span data-feather="users"></span>
     Committers
    </a>
   </li>
  </ul>
 </div>
</nav>
